
:root{
    --mainColor:#ff206e;
}


body{
 height:3000px
}


.home{

    background-image: url('../img/bg-home.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: ; */

}


.header a{

text-decoration: none;
color: var(--mainColor);

}

.header .icon{
    color: #fff;
    width: 20%;
    border-radius: 5px;
    cursor: pointer;
}